# code: language=yaml
#
# Subnets (Step 5)
# Creates public and private subnets with Usage protection
# Depends on: $state.network, $state.observed
#

{{- if $state.network.subnets.render }}

# ==============================================================================
# Public Subnets
# ==============================================================================
{{- range $subnet := $state.network.subnets.public }}
{{- if or (ne $subnet.cidr "") (ne ($subnet.ipv4IpamPoolId | default "") "") }}
{{- $subnetExternalName := $subnet.externalName | default "" }}
{{- $subnetMgmtPolicies := $subnet.managementPolicies | default $state.network.managementPolicies }}
---
apiVersion: ec2.aws.m.upbound.io/v1beta1
kind: Subnet
metadata:
  name: {{ $subnet.name }}
  annotations:
    {{ setResourceNameAnnotation $subnet.resourceName }}
    {{- if $subnetExternalName }}
    crossplane.io/external-name: {{ $subnetExternalName | quote }}
    {{- end }}
  labels:
    {{ $subnet.labels | toYaml | nindent 4 }}
spec:
  managementPolicies: {{ $subnetMgmtPolicies | toJson }}
  forProvider:
    region: {{ $state.network.region }}
    availabilityZone: {{ $subnet.az }}
    vpcIdRef:
      name: {{ $state.network.name }}
    mapPublicIpOnLaunch: {{ $subnet.mapPublicIpOnLaunch }}
    {{- if ne ($subnet.ipv4IpamPoolId | default "") "" }}
    ipv4IpamPoolId: {{ $subnet.ipv4IpamPoolId }}
    ipv4NetmaskLength: {{ $subnet.ipv4NetmaskLength }}
    {{- else }}
    cidrBlock: {{ $subnet.cidr }}
    {{- end }}
    {{- if $subnet.assignIpv6AddressOnCreation }}
    assignIpv6AddressOnCreation: true
    {{- if ne ($subnet.ipv6IpamPoolId | default "") "" }}
    ipv6IpamPoolId: {{ $subnet.ipv6IpamPoolId }}
    ipv6NetmaskLength: {{ $subnet.ipv6NetmaskLength }}
    {{- else }}
    ipv6CidrBlock: {{ $subnet.ipv6CidrBlock }}
    {{- end }}
    {{- end }}
    tags:
      {{ $subnet.tags | toYaml | nindent 6 }}
  providerConfigRef:
    name: {{ $state.network.providerConfig.name }}
    kind: {{ $state.network.providerConfig.kind }}

# Usage: Delete public subnet before VPC
{{- $subnetObs := get $state.observed.subnets $subnet.resourceName | default dict }}
{{- if and $state.observed.vpc.ready $subnetObs.ready }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
  name: {{ $state.network.name }}-delete-{{ $subnet.resourceName }}-before-vpc
  annotations:
    {{ setResourceNameAnnotation (printf "delete-%s-before-vpc" $subnet.resourceName) }}
spec:
  replayDeletion: true
  of:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: VPC
    resourceRef:
      name: {{ $state.network.name }}
  by:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: Subnet
    resourceRef:
      name: {{ $subnet.name }}
{{- end }}

# Usages: Delete public subnet before automatic IPAM planning pools
{{- if and $state.network.ipam.resourcePlanning.ipv4.enabled $state.observed.ipamPlanning.ipv4.ready $subnetObs.ready }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
  name: {{ $state.network.name }}-delete-{{ $subnet.resourceName }}-before-ipv4-planning
  annotations:
    {{ setResourceNameAnnotation (printf "delete-%s-before-ipv4-planning" $subnet.resourceName) }}
spec:
  replayDeletion: true
  of:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: VPCIpamPool
    resourceRef:
      name: {{ $state.network.name }}-ipv4-planning
  by:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: Subnet
    resourceRef:
      name: {{ $subnet.name }}
{{- end }}
{{- if and $state.network.ipam.resourcePlanning.ipv6.enabled $state.observed.ipamPlanning.ipv6.ready $subnetObs.ready }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
  name: {{ $state.network.name }}-delete-{{ $subnet.resourceName }}-before-ipv6-planning
  annotations:
    {{ setResourceNameAnnotation (printf "delete-%s-before-ipv6-planning" $subnet.resourceName) }}
spec:
  replayDeletion: true
  of:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: VPCIpamPool
    resourceRef:
      name: {{ $state.network.name }}-ipv6-planning
  by:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: Subnet
    resourceRef:
      name: {{ $subnet.name }}
{{- end }}
{{- end }}
{{- end }}

# ==============================================================================
# Private Subnets
# ==============================================================================
{{- range $subnet := $state.network.subnets.private }}
{{- if or (ne $subnet.cidr "") (ne ($subnet.ipv4IpamPoolId | default "") "") }}
{{- $subnetExternalName := $subnet.externalName | default "" }}
{{- $subnetMgmtPolicies := $subnet.managementPolicies | default $state.network.managementPolicies }}
---
apiVersion: ec2.aws.m.upbound.io/v1beta1
kind: Subnet
metadata:
  name: {{ $subnet.name }}
  annotations:
    {{ setResourceNameAnnotation $subnet.resourceName }}
    {{- if $subnetExternalName }}
    crossplane.io/external-name: {{ $subnetExternalName | quote }}
    {{- end }}
  labels:
    {{ $subnet.labels | toYaml | nindent 4 }}
spec:
  managementPolicies: {{ $subnetMgmtPolicies | toJson }}
  forProvider:
    region: {{ $state.network.region }}
    availabilityZone: {{ $subnet.az }}
    vpcIdRef:
      name: {{ $state.network.name }}
    mapPublicIpOnLaunch: {{ $subnet.mapPublicIpOnLaunch }}
    {{- if ne ($subnet.ipv4IpamPoolId | default "") "" }}
    ipv4IpamPoolId: {{ $subnet.ipv4IpamPoolId }}
    ipv4NetmaskLength: {{ $subnet.ipv4NetmaskLength }}
    {{- else }}
    cidrBlock: {{ $subnet.cidr }}
    {{- end }}
    {{- if $subnet.assignIpv6AddressOnCreation }}
    assignIpv6AddressOnCreation: true
    {{- if ne ($subnet.ipv6IpamPoolId | default "") "" }}
    ipv6IpamPoolId: {{ $subnet.ipv6IpamPoolId }}
    ipv6NetmaskLength: {{ $subnet.ipv6NetmaskLength }}
    {{- else }}
    ipv6CidrBlock: {{ $subnet.ipv6CidrBlock }}
    {{- end }}
    {{- end }}
    tags:
      {{ $subnet.tags | toYaml | nindent 6 }}
  providerConfigRef:
    name: {{ $state.network.providerConfig.name }}
    kind: {{ $state.network.providerConfig.kind }}

# Usage: Delete private subnet before VPC
{{- $subnetObs := get $state.observed.subnets $subnet.resourceName | default dict }}
{{- if and $state.observed.vpc.ready $subnetObs.ready }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
  name: {{ $state.network.name }}-delete-{{ $subnet.resourceName }}-before-vpc
  annotations:
    {{ setResourceNameAnnotation (printf "delete-%s-before-vpc" $subnet.resourceName) }}
spec:
  replayDeletion: true
  of:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: VPC
    resourceRef:
      name: {{ $state.network.name }}
  by:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: Subnet
    resourceRef:
      name: {{ $subnet.name }}
{{- end }}

# Usages: Delete private subnet before automatic IPAM planning pools
{{- if and $state.network.ipam.resourcePlanning.ipv4.enabled $state.observed.ipamPlanning.ipv4.ready $subnetObs.ready }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
  name: {{ $state.network.name }}-delete-{{ $subnet.resourceName }}-before-ipv4-planning
  annotations:
    {{ setResourceNameAnnotation (printf "delete-%s-before-ipv4-planning" $subnet.resourceName) }}
spec:
  replayDeletion: true
  of:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: VPCIpamPool
    resourceRef:
      name: {{ $state.network.name }}-ipv4-planning
  by:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: Subnet
    resourceRef:
      name: {{ $subnet.name }}
{{- end }}
{{- if and $state.network.ipam.resourcePlanning.ipv6.enabled $state.observed.ipamPlanning.ipv6.ready $subnetObs.ready }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
  name: {{ $state.network.name }}-delete-{{ $subnet.resourceName }}-before-ipv6-planning
  annotations:
    {{ setResourceNameAnnotation (printf "delete-%s-before-ipv6-planning" $subnet.resourceName) }}
spec:
  replayDeletion: true
  of:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: VPCIpamPool
    resourceRef:
      name: {{ $state.network.name }}-ipv6-planning
  by:
    apiVersion: ec2.aws.m.upbound.io/v1beta1
    kind: Subnet
    resourceRef:
      name: {{ $subnet.name }}
{{- end }}
{{- end }}
{{- end }}

{{- end }}
